<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color:'#fffccc'">
    <p> Hello <p/>
    <p th:text="${name}"></p>

    <h1> MY CV </h1>
    <p> Name : Puteri Khatya Fahira </p>
    <p> Birth : Padang, August 16 </p>
    <p> Address : Depok </p>
    <br/>
    <p> Education : </p>
    <p> Currently taking Bachelor degree in CS Major in Univeristas Indonesia</p>
    <br/>
    <p> This actually should be a simple paragraph about me.</p>
    <p> But everything that I can say is Lorem ipsum dolor sit amet, vix no consulatu incorrupte, ius ne sint quando iriure, no mea causae urbanitas. Cum ea autem debet ceteros, sale tation duo et. Hinc contentiones te nam, ut duo putant accusam officiis. Ne detracto sapientem splendide eos, pro sumo oportere hendrerit ne, qui et quidam reformidans. Ne vide vitae urbanitas sed. Saperet legendos te eum, vix te affert inimicus theophrastus, vix solum sanctus in. Alia quas possim vis in, et volutpat tincidunt pro. </p>
</body>
</html>
